<!DOCTYPE html>
<html>
	<head>
		<title>employee</title>
	</head>
	<body>
		<h1>employee Details Form</h1>
		<form action="/saveproduct" method="POST">
			<label>Name:</label><br>
			<input type="text" name="name" required><br><br>
			
			<label>Brand:</label><br>
			<input type="text"name="brand" required><br><br>
			
			<label>MadeIn:</label><br>
			<input type="text" name="madein" required><br><br>
			
			<label>Price:</label><br>
			<input type="number" name="price" required><br><br>
			
			<label>Quantity:</label><br>
			<input type="number" name="quantity"required><br><br>
			<label>discountrate:</label><br>
			<input type="number" name="discountrate"required><br><br>
			
			<input type="submit" value="Submit">
			<input type="reset" value="Reset">
		</form>
	</body>
</html>